body {
	background-image: url("https://i.imgur.com/1Rg03go.png");
	background-repeat: repeat;
	background-color: rgb(220, 223, 226);
	font-family: 'Ubuntu', sans-serif;
	border-bottom: 5px solid rgb(130, 151, 201);
  	border-top: 5px solid rgb(130, 151, 201);
  	padding: 50px;
  	padding-top: 50px;
  	margin: 30px;
}

.nav_main {
	text-align: center;
	font-size: 25px;
	padding-bottom: 30px;
}

.nav_social {
	margin-top: 90px;
	text-align: center;
	font-size: 20px;
}

.social {
	text-align: center;
}

.active {
	text-decoration: underline;
}

.inactive {
	text-decoration: overline;
}

h1 {
	text-align: center;
}

p {
	margin-bottom: 20px;
	margin-color: rgb(0, 0, 0);
}

img {
	border-color: rgb(0, 0, 0);
	padding: 5 5 5 5;
}

hr {
	margin: 50px;
	border: 1px solid rgb(190, 207, 247);
}

.hr_left {
	vertical-align: : left;
}

/*main image on index.html*/
.avatar {
	float: right;
	border-color: rgb(0, 0, 0);
	overflow: auto;
	padding-left: 50px;
}


